.main {
    margin-top: 56px;
}

main>div>p {
    margin-top: 15px;
}

.scanbutton {
    
    background-color: rgb(248, 11, 82);
    border-radius: 50px;
    font-size: 40px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


.flex-container {
    display: flex;
    justify-content: center;
    background-color: rgb(210, 223, 248);

}

.flex-container>span {
    
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 30px;
}  

#interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
#interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
  
canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}

.label1 {background-color: #4CAF50; color: white;} 
.label2 {background-color: rgb(240, 243, 33);color: white;} 
.label3 {background-color: #ff0000;color: white;} 