body {
    padding-top: 3.5rem;
    text-align: center;
  }

.jumbotron .container{
    
    background-image:url('lettuce.jpg');
    background-size: cover;
    
}

.h1 {
  display: inline-block;
}
input {font-size:14pt; margin: center;}
input, label {vertical-align:middle}
.qrcode-text {padding-right:1.7em; margin-right:0; }
.qrcode-text-btn {display:inline-block; background:url('qr.png') 90% 90%; height:1.7em; width:1.7em; margin-left:-1.5em; cursor:pointer;}
.qrcode-text-btn > input[type=file] {position:absolute; overflow:hidden; width:1px; height:1px; opacity:0}